<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <th:block th:each="msg : ${messages}">
        <li th:utext="${msg.getName()}">..</li>
    </th:block>

    <h1>Cars</h1>

    <table border="1">
        <tr>
            <th>name</th>
            <th>series</th>
            <th>vin</th>

        </tr>

        <tr th:each="currentCar : ${cars}">
            <td th:utext="${currentCar.getName()}">index</td>
            <td th:utext="${currentCar.getSeries()}">count</td>
            <td th:utext="${currentCar.getVin()}">size</td>
        </tr>

    </table>

</div>
</body>
</html>